{%extends 'base.html'%}

{%block title%} Welcome to NewsPortal {%endblock%}



{%block content%} 


{%load static %}

<div class=" ">
  <div class="image  center">
    
    <div class="responsive">
        <div class="center-align ">
          <a target="_blank" href="/static/about.jpg">
            <img src="/static/about.jpg"  alt=" " width="90%" height="700px"><br>
          </a>
          
        </div>
      </div>


<br>

<div class="container">
    <div class="card" style="width: 28rem; ">
        <img src="/static/image.png" class="card-img-top  " alt=" " style="height: 350px; width: 100% ;">
        <div class="card-body">
            <h5 style="text-align: center;">ARPITA ACHARJEE</h5>
            <h6 style="text-align: center;"><b>EMAIL: 19101051@uap-bd.edu</b></h5><br>
            
          
        </div>
      </div>
      <div class="card" style="width: 20rem; margin-left: 900px;">
        <img src="/static/anika.jpg" class="card-img-top  " alt=" " style="height: 350px; width: 100% ;">
        <div class="card-body">
            <h5 style="text-align: center;">ANIKA TABASSUM</h5>
            <h6 style="text-align: center;"><b>EMAIL: 19101052@uap-bd.edu</b></h5><br>
            
        </div>
      </div>
      <div class="card" style="width: 20rem; ">
        <img src="/static/1.jpg" class="card-img-top  " alt=" " style="height: 350px; width: 100% ;">
        <div class="card-body">
            <h5 style="text-align: center;">HRIDAY SARKAR</h5>
            <h6 style="text-align: center;"><b>EMAIL: 19101059@uap-bd.edu</b></h5><br>
            
        </div>
      </div>
      <div class="card" style="width: 20rem;margin-left: 900px; ">
        <img src="/static/Anik.jpg" class="card-img-top  " alt=" " style="height: 350px; width: 100% ;">
        <div class="card-body">
            <h5 style="text-align: center;">SHAHADAT ANIK</h5>
            <h6 style="text-align: center;"><b>EMAIL: 19101071@uap-bd.edu</b></h5><br>
            
        </div>
      </div>      
</div>  
</div>      


{%endblock%}
